@model MusicLibrary.Models.Genre

@{
	ViewData["Title"] = "Add Genre";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3 class="text-center">Add a new genre</h3>

<div class="row">
	<div class="col-md-2">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<br />
			<div class="justify-content-between">
				<div>
					<input type="submit" value="Add" class="btn btn-md btn-success" />
				</div>
				<br />
				<div>
					<a asp-action="Index" asp-controller="Songs" title="Back to main"> <i style="font-size:24px;color:blue;" class="bi bi-arrow-return-left"></i></a>
				</div>
			</div>
		</form>
	</div>
	<div style="margin-top:30px;">
		<a href="https://en.wikipedia.org/wiki/List_of_music_genres_and_styles" target="_blank">More Info over music genres</a>
	</div>
	<div style="float:right;margin-left:900px;margin-top:-100px;">
		<p>Added genres</p>
		<ol>
			@{
				foreach (var genre in (List<Genre>)ViewBag.Geners)
				{
					<li>@genre.Name</li>
				}
			}
		</ol>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
