@model MusicLibrary.Models.Genre

@{
	ViewData["Title"] = "Add Genre";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3 class="text-center">Add a new genre</h3>
@{
	if (ViewBag.Message != null)
	{
		<div id="success-alert" class="alert alert-info" role="alert">
			@ViewBag.Message.ToString()
		</div>
	};
	<br />
}
<div class="row">
	<div class="col-md-2">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<br />
			<div class="justify-content-between">
				<div>
					<input type="submit" value="Add" class="btn btn-md btn-success" />
				</div>
				<br />
				<div>
					<a asp-action="Index" asp-controller="Songs" title="Back to main"> <i style="font-size:24px;color:blue;" class="bi bi-arrow-return-left"></i></a>
				</div>
			</div>
		</form>
	</div>
	<div style="margin-top:30px;">
		<a href="https://en.wikipedia.org/wiki/List_of_music_genres_and_styles" target="_blank">More Info over music genres</a>
	</div>
	<div style="float:right;margin-left:900px;margin-top:-100px;">
		<h5>Added genres</h5>
		<table class="table-borderless text-center">
			<thead>
				<tr>
				</tr>
			</thead>
			<tbody>
				@{
					foreach (var genre in (List<Genre>)ViewBag.Genres)
					{
						<tr>
							<td>
								@genre.Name &nbsp;
							</td>
							<td>
								<form asp-action="Delete" asp-controller="Genres">
									<input type="hidden" value=@genre.Id name="id" />
									<input type="submit" value="Delete" class="btn btn-danger" />
								</form>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
<script>
	function hideAlert() {
				const alertElement = document.getElementById('success-alert');
				if (alertElement) {
					setTimeout(() => {
						alertElement.style.display = 'none';
					}, 2000); // 5000 milliseconds = 5 seconds
				}
			}
			// Call the function to hide the alert
			hideAlert();
</script>