<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Build you music !</title>
	<link rel="icon" href="/images/logo.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MusicLibrary.styles.css" asp-append-version="true" />
	<style>
		.btn {
			width: 50px !important;
			height: 30px !important;
			padding: 0 !important;
			border: none !important;
		}

		.dropdown-menu {
			min-width: inherit;
		}

		.dropdown-item {
			padding: 0px 10px !important;
			font-size: 14px !important;
		}

		.nav-link {
			color: white !important;
		}
		.nav-item
		{
			color: white !important;
		}
	</style>

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-black">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Songs" asp-action="Index" style="margin-left:50px;">
					<img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
					<span style="font-size:24px;">My Music World</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-top:-10px;">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item dropdown dropdown-header">
							<button class="btn btn-group shadow-none" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<a class="nav-link text-dark" asp-area="" asp-controller="Artists" asp-action="Index">Artists</a>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" asp-area="" asp-controller="Artists" asp-action="Create">Add a new artist</a>
							</div>
						</li>
						<li class="nav-item dropdown dropdown-header">
							<button class="btn btn-group shadow-none" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" asp-area="" asp-controller="Genres" asp-action="Create">Add a new genre</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<div class="navbar-nav flex-grow-1" style="margin-top:5px;margin-left:500px;">
						<form asp-action="Search" method="get" class="nav-item">
							<div class="nav-item">
								<p>
									<label>
										Find a song by artist name<br />
										<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
									</label>
									<i class="glyphicon glyphicon-user form-control-feedback"></i>
									<input type="submit" value="Search" class="btn btn-primary" style="margin-top:-5px;" />
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - MusicLibrary - <a asp-area="" asp-controller="Songs" asp-action="Index">Songs</a>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
