@model MusicLibrary.Data.DTO.SongCreateDTO

@{
    ViewData["Title"] = "Add Song";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3 class="text-center">Add a new song</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label class="control-label">Artist</label>
                <select asp-for="ArtistId" class="form-control">
                    <option value="">-- Select Artist --</option>
                    @{
                        foreach (var artist in (IEnumerable<Artist>)ViewBag.Artists)
                        {
                            <option value="@artist.Id">@artist.Name</option>
                        };
                    }
                </select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label class="control-label">Genre</label>
                <select asp-for="GenreId" class="form-control">
                    <option value="">-- Select Genre --</option>
                    @{
                        foreach (var genre in (IEnumerable<Genre>)ViewBag.Genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        };
                    }
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            
            <br />
            <div class="justify-content-between">
                <div>
                    <input type="submit" value="Add" class="btn btn-md btn-success" />
                </div>
                <br />
                <div>
                    <a asp-action="Index" asp-controller="Songs" title="Back to main"> <i style="font-size:24px;color:blue;" class="bi bi-arrow-return-left"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
