@model IEnumerable<MusicLibrary.Models.Song>

@{
    ViewData["Title"] = "Home Page";
}

@{
    foreach (var song in Model)
    {
			<div>
				<h2>@song.Title</h2>
				<p>@song.ArtistName</p>
				<p>@song.Genre</p>
				<p>@song.ReleaseDate</p>
			</div>
    }
}